# Environments
venv/
env/
ENV/
.venv/

# Python caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# App Data (Do not push to GitHub!)
data/
storage/
vectors/
*.db
*.db-*
*.npy
*.json

# OS files
.DS_Store
Thumbs.db
